/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Secular+One&display=swap');

/* @font-face {
    font-family: DescriptionFont;
    src: url(/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
} */

@font-face {
    font-family: TitleFont;
    src: url(/fonts/cunia.ttf);
}

@font-face {
    font-family: paragrapfont;
    src: url(/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: sfnavbar;
    src: url(/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}

/* common classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* white-space: inherit; */
}

html {
    font-size: 16px;
    font-family: sfnavbar;
}

:root {
    --nav-menu: #777E90;
    --article-title: black;
    --paragrap: #878787;
    --btn-color: #45B26B;
    --background: #F4FFF8;
    --Multant: #fff;
    --box-sadow: #FCFCFD;

}

body {
    width: 100vw;
    overflow-x: hidden;
}

.align-center {
    display: flex;
    align-items: center;
}


/* ===========main========== */
/* header */
h1,
.spotligh div>h2 {
    font-family: TitleFont;
}

button {
    font-family: sfnavbar;
}

/* section>h1 {
    color: red;
} */

header nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    margin-right: 7.5%;
    /* width: 70%; */
    margin-left: auto;
    padding: 25px 0;
}

header nav li {
    list-style: none;
}

header nav li a {
    text-decoration: none;
    color: var(--nav-menu);
    display: inline-block;
    padding: 12px 27px;
    white-space: nowrap;
}

header nav li:last-child a {
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 90px;
}

/* hidden */
.logo-hamBurger-container {
    display: none;
}

/* welcome section */
.welcome-section {
    margin-left: 12.5%;
    justify-content: space-between;
}


.welcome-section .img-container {
    width: 55%;
    background: linear-gradient(to left, var(--btn-color), white);
}

.welcome-section div img {
    width: 100%;
}

.welcome-section .article-container article h1 {
    font-size: 3.5rem;
    font-family: 'Secular One', sans-serif;
    line-height: 4rem;
    margin-bottom: 10px;
}

.welcome-section .article-container article p {
    color: var(--paragrap);
    line-height: 1.7rem;
    font-family: paragrapfont;
}

.welcome-section .article-container button {
    margin-top: 2rem;
    padding: .9rem 1.8rem;
    border-radius: 90px;
    cursor: pointer;
}

.welcome-section .article-container button:first-of-type {
    border: 1px solid var(--btn-color);
    margin-right: 25px;
    color: white;
    background-color: var(--btn-color);
}

.welcome-section .article-container button:last-child {
    border: var(--btn-color) solid 1px;
    background-color: unset;
    color: var(--btn-color);
}

.Garden {
    width: 100%;
    height: 250px;
    /* background-color: #bb939332; */
    background: url('../images/WATERMARK.png');
    background-size: 335px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 140px;
    padding: 250px 12.5%;


}

.Garden .Read-container h5 {
    color: var(--btn-color);
    cursor: pointer;
}

.Garden .Read-container p {
    color: var(--paragrap);
    line-height: 1.7rem;

}

/* Under section start */
.under {
    width: 100%;
    overflow: hidden;
    height: 607px;
    background-color: var(--background);
    margin-bottom: 154px;
}

.under .under-container {
    margin-left: 12.5%;
}

.under .under-container .spotligh {
    padding-top: 4.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.under .under-container .spotligh h5 {
    padding-right: 9rem;
    color: var(--btn-color);
}

/* Frame-container start */
.Frame-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Frame-container .Mutant-Ape {
    /* width: 225px; */
    background-color: var(--Multant);
    padding: 1rem;
    border-radius: 1rem;
}


.Frame-container .Mutant-Ape .Mutant-profile-img .Profile {
    display: flex;
    align-content: center;
}

.Frame-container .Mutant-Ape .Mutant-profile-img {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Frame-container .Mutant-Ape .Mutant-profile-img img {
    width: 40px;
    padding-top: 0;
}


.fa-heart {
    color: red;
}

.Frame-container .Mutant-Ape .Mutant-profile-img .Profile img {
    padding-right: 11px;
    display: inline-block;
    margin: 0 auto;
}

.Frame-container .Mutant-Ape .unnamed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 1rem;
}

.Frame-container .Mutant-Ape .unnamed p {
    color: var(--paragrap);
}

.Frame-container .Mutant-Ape .unnamed .unnamed-img {
    display: flex;
    /* align-items: center; */

}

.Frame-container .Mutant-Ape .unnamed .unnamed-img img {
    padding-right: 5px;
    height: 20px;
}

.Frame-container .Mutant-Ape p {
    padding-bottom: 1rem;
    font-size: 12px;
}

.Frame-container .Mutant-Ape .Mutant-comment {
    display: flex;

}

.Frame-container .Mutant-Ape .Mutant-comment .Reaction {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-right: 3rem;
}

.Frame-container .Mutant-Ape .Mutant-comment .Reaction p {
    padding-left: .50rem;
}

.Frame-container .Mutant-Ape .Mutant-comment .comment {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-right: 20px;
}

.Frame-container .Mutant-Ape .Mutant-comment .comment p {
    padding-left: .50rem;
}

.Frame-container .Mutant-Ape .Mutant-comment .comment .fa-heart {
    color: red;
}

/* create start */

.create {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create .repeat {
    margin-left: 12.5%;
}

.create .repeat h1 {
    font-size: 3rem;
    font-family: TitleFont;

}

.create .repeat p {
    color: var(--paragrap);
    font-family: paragrapfont;
    line-height: 1.7rem;
}

.create .repeat button {
    margin-top: 2rem;
    padding: 19px 26px;
    border-radius: 90px;
    border: none;
    background-color: var(--btn-color);
    color: var(--background);
    cursor: pointer;
}

.highlight {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 12.5rem;
    margin-bottom: 14.5rem;
}


.instagram {
    padding-right: 6rem;
}

.instagram h5 {
    color: var(--btn-color);
    cursor: pointer;
}

.youtube h5 {
    color: var(--btn-color);
    cursor: pointer;
}

/* creat end */

/* =============hall start======== */
.hall {
    margin-left: 6.5rem;
    margin-bottom: 13.5rem;
}

.hall .box-shadow .box {
    width: 198.4px;
    background-color: var(--box-sadow);
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
    border-radius: 16px;
    padding: 24px;
}

.hall .box-shadow .box img {
    padding-bottom: 1rem;
    border-radius: 50%;
    /* overflow: hidden; */
}

/* .hall .box-shadow .box p:nth-child(2) {
    color: var(--paragrap);
    font-weight: 500;
} */

.hall .box-shadow .box span {
    color: var(--paragrap);
    color: black;
    font-family: 'Poppins', sans-serif;
}

.hall .box-shadow .box p {
    color: var(--paragrap);
    font-family: 'Poppins', sans-serif;
}

.hall .box-shadow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hall h1 {
    margin-left: 3.5rem;
    margin-bottom: 4.5rem;
    font-size: 3rem;
}

.hall .box-shadow .box p {
    font-size: 1rem;
    font-weight: 600;
}

.hall .box-shadow .box span p {
    font-size: 1rem;
    font-weight: 500;
}

.box-border {
    border: 1px solid black;
}




.box-shadow-2 {
    box-shadow: 0 70px 50px 0px rgba(0, 0, 0, .1);
}

.virtual {
    margin: 0 12.5rem 5px 12.5rem;
}

.virtual h1 {
    letter-spacing: 1px;
    font-size: 3rem;
    font-family: TitleFont;
}

.virtual .collective .collective-box {
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 2rem;
    margin-right: 4.5rem;
    margin-top: 6.5rem;
}

.virtual .collective .collective-box h1 {
    font-size: 26px;
    letter-spacing: 1px;
    font-family: TitleFont;
}

.virtual .collective .collective-box p {
    color: var(--paragrap);
    font-family: paragrapfont;
}

.virtual .collective .collective-box button {
    padding: 19px 27px;
    background: #fff;
    color: var(--btn-color);
    border: none;
    cursor: pointer;
}

.virtual .collective .collective-box .btn-grassroots button {
    border: 1px solid var(--btn-color);
    border-radius: 90px;
}

.virtual .collective {
    display: flex;
}

.benner-finel {
    display: flex;
    margin-top: 20px;
}

.apprication {
    margin: 9.5rem 12.5% 15rem 12.5%;
}

.apprication .apprication-container {
    background: #fff;
    width: 290px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 20px;
}

.apprication .apprication-container .apprication-box>img {
    width: 100%;
}

.apprication .apprication-container .kunde {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.apprication .apprication-container .kunde .kunde-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apprication .apprication-container .kunde .kunde-btn img {
    margin-right: 10px;
}



.apprication-box {
    display: flex;
    /* width: 380px; */
    position: relative;
}

.dragons-comments {
    position: absolute;
}

.dragons-comments:first-child {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    top: 155px;
    left: -112px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 14px 20px;
}

.dragons-comments:first-child img {
    margin-right: 1rem;
}

.dragons-comments:first-child small {
    font-size: 10px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: var(--paragrap);
}

.dragons-comments:nth-child(2) {
    left: -70px;
    bottom: 35px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding: 11px 20px;
}

.dragons-comments:nth-child(2) img {
    margin-right: 1rem;
}

.dragons-comments:nth-child(2) small {
    color: var(--paragrap);
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.dragons-comments:nth-child(3) {
    top: 50px;
    right: -50px;
    display: flex;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding: 14px 20px;
}

.dragons-comments:nth-child(3) small {
    color: var(--paragrap);
    font-weight: bold;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;

}

.dragons-comments:nth-child(3) img {
    margin-right: 1rem;
}

.dragons-comments:nth-child(4) {
    right: 0;
}

.dragons-comments:nth-child(5) {
    bottom: -10px;
    left: -50px;
}

.dragons-comments:nth-child(6) {
    right: -27px;
    top: 128px;
}

.dragons-comments:nth-child(7) {
    right: -50px;
    bottom: 12px;
}

.apprication .apprication-container .unminted-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    color: var(--paragrap);
}

.apprication .apprication-container .unminted-two .unminted-flower {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apprication .apprication-container .unminted-two .unminted-flower img {
    margin-right: 5px;
}










@media screen and (max-width:720px) {
    html {
        font-size: 13px;
    }

    header nav {
        display: none;
    }

    .logo-hamBurger-container {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin-left: auto;
        padding: 20px;
    }

    .welcome-section {
        margin-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .welcome-section .article-container {
        margin-left: 30px;
    }

    .welcome-section .img-container {
        margin-top: 30px;
        width: 100%;
        background: linear-gradient(to top, var(--btn-color), white);
    }

    .Garden {
        width: 100%;
        height: fit-content;
        background-position-x: 120%;
        background-size: 140px;
    }

    .under .under-container .spotligh h5 {
        font-size: .40rem;
    }

    .create {
        flex-direction: column;
    }

    .create .creator-img img {
        width: 305px;
        padding-top: 2.5rem;
        margin-left: 0;
    }

    .highlight {
        flex-direction: column;
        margin-left: 0;
    }

    .instagram {
        margin-bottom: 2rem;
    }

    .hall {
        margin-left: 0;
        overflow-x: hidden;
        height: 450px;
    }

    .hall .box-shadow img {
        padding-right: 20px;
    }

    .hall .box-shadow {
        display: flex;
        align-items: center;
        height: 550px;
        font-family: ;

    }

    .hall .box-shadow .box {
        margin-left: 2rem;
    }

    .hall h1 {
        margin-left: 3.5rem;
        margin-bottom: 4.5rem;
        font-size: 4rem;
    }

    .hall .fa-arrow-left-long {
        display: none;
    }



}