/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* common classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --nav-menu: #777E90;
    --article-title: black;
    --paragrap: #878787;
    --btn-color: #45B26B;
    --background: #F4FFF8;
    --Multant: #fff;

}

.align-center {
    display: flex;
    align-items: center;
}

/* ===========main========== */
/* header */
header nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 7.5%;
    width: 70%;
    margin-left: auto;
    padding: 25px 0;
}

header nav li {
    list-style: none;
}

header nav li a {
    text-decoration: none;
    color: var(--nav-menu);
    display: inline-block;
    padding: 12px 27px;
}

header nav li:last-child a {
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 90px;
}

/* hidden */
.logo-hamBurger-container {
    display: none;
}

/* welcome section */
.welcome-section {
    margin-left: 12.5%;
    justify-content: space-between;
}


.welcome-section .img-container {
    width: 55%;
    background: linear-gradient(to left, var(--btn-color), white);
}

.welcome-section div img {
    width: 100%;
}

.welcome-section .article-container article h1 {
    font-size: 3.5rem;
    font-family: 'Secular One', sans-serif;
    line-height: 60px;
    margin-bottom: 20px;
}

.welcome-section .article-container article p {
    color: var(--paragrap);
}

.welcome-section .article-container button {
    margin-top: 2rem;
    padding: .9rem 1.8rem;
    border-radius: 90px;
    cursor: pointer;
}

.welcome-section .article-container button:first-of-type {
    border: 1px solid var(--btn-color);
    margin-right: 25px;
    color: white;
    background-color: var(--btn-color);
}

.welcome-section .article-container button:last-child {
    border: var(--btn-color) solid 1px;
    background-color: unset;
    color: var(--btn-color);
}

.Garden {
    width: 100%;
    height: 250px;
    /* background-color: #bb939332; */
    background: url('../images/WATERMARK.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
    padding: 200px 12.5%;

}

.Garden .Read-container h5 {
    color: var(--btn-color);
    cursor: pointer;
}

.Garden .Read-container p {
    color: var(--paragrap);
    line-height: 1.5rem;
}

/* Under section start */
.under {
    width: 100%;
    overflow: hidden;
    height: 607px;
    background-color: var(--background);
    margin-bottom: 154px;
}

.under .under-container {
    margin-left: 12.5%;
}

.under .under-container .spotligh {
    padding-top: 4.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.under .under-container .spotligh h5 {
    padding-right: 9rem;
    color: var(--btn-color);
}

/* Frame-container start */
.Frame-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Frame-container .Mutant-Ape {
    /* width: 225px; */
    background-color: var(--Multant);
    padding: 1rem;
    border-radius: 1rem;
}


.Frame-container .Mutant-Ape .Mutant-profile-img .Profile {
    display: flex;
    align-content: center;
}

.fa-heart {
    color: red;
}

.Frame-container .Mutant-Ape .Mutant-profile-img .Profile img {
    padding-right: 11px;
}

.Frame-container .Mutant-Ape .unnamed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 1rem;
}

.Frame-container .Mutant-Ape .unnamed p {
    color: var(--paragrap);
}

.Frame-container .Mutant-Ape .unnamed .unnamed-img {
    display: flex;
    /* align-items: center; */

}

.Frame-container .Mutant-Ape .unnamed .unnamed-img img {
    padding-right: 5px;
    height: 20px;
}

.Frame-container .Mutant-Ape p {
    padding-bottom: 1rem;
    font-size: 12px;
}

.Frame-container .Mutant-Ape .Mutant-comment {
    display: flex;

}

.Frame-container .Mutant-Ape .Mutant-comment .Reaction {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-right: 3rem;
}

.Frame-container .Mutant-Ape .Mutant-comment .Reaction p {
    padding-left: .50rem;
}

.Frame-container .Mutant-Ape .Mutant-comment .comment {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-right: 20px;
}

.Frame-container .Mutant-Ape .Mutant-comment .comment p {
    padding-left: .50rem;
}

.Frame-container .Mutant-Ape .Mutant-comment .comment .fa-heart {
    color: red;
}

.create {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create .repeat {
    margin-left: 12.5%;
}

.create .repeat h1 {
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}

.create .repeat p {
    color: var(--paragrap);
}

.create .repeat button {
    margin-top: 2rem;
    padding: 19px 26px;
    border-radius: 90px;
    border: none;
    background-color: var(--btn-color);
    color: var(--background);
}

.highlight {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}

.highlight:last-child {
    padding-right: 50px;
}








@media screen and (max-width:720px) {
    html {
        font-size: 14px;
    }

    header nav {
        display: none;
    }

    .logo-hamBurger-container {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin-left: auto;
        padding: 20px;
    }

    .welcome-section {
        margin-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .welcome-section .article-container {
        margin-left: 30px;
    }

    .welcome-section .img-container {
        margin-top: 30px;
        width: 100%;
        background: linear-gradient(to top, var(--btn-color), white);
    }

    .Garden {
        width: 100%;
        height: fit-content;
        background-position-x: 120%;
        background-size: 140px;
    }

    .under .under-container {
        margin-left: 12.5%;
    }


}